<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% load static %}

  {% block content %}

		<br>
		<br>
		<div class="box">
			<h3>Photography</h3>
			<p>Photography is a rewarding hobby that offers many possibilities! It can even become a rewarding career. When starting at the
				very beginning, find what inspires you, get a camera with a manual mode. Shoot to your hearts content and take your camera
				everywhere! Look for creative expression,technical expertise, and sheer variety of ways to capture an image. Age is not a
				barrier to learn any new hobby and you can start with the camera on your phone if that's what you have available. Start
				getting real now!
			</p>
		</div>
		<br>
	    <div class="box">
			<h3>DIY craft</h3>
			<p>DIY or as we prefer to call it, "Do it yourself" is a method of building,modeling or modifying things without the direct aid
			   of experts or professionals.Arts and crafts are a variety of activites that involve making things with ones own hands. Children
				and adults enjoy art and craft alike as there is a unique crafting experience for all interests and ages! There is a new sense of
				satisfaction that is gained by learning a new skill and who doesnt like to proudly display their handiwork and pretend to auction
				it to the highest bidder?! Start crafting today!
			</p>
		</div>
		<br>
		<div class="box">
			<h3>Baking</h3>
			<p>Baking is a method of preparing food using dry heat, generally in an oven but can also be done in hot ashes, or on hot stones. This
				can be a fun activity for people who love cooking! Baking is a creative process. Psychologists have expressed that cooking can be
				a great stress reliever. Often, the simple and repetitive activites can calm a person as one is always aware of what needs to be done next.
				So, what are you waiting for? Don that hat and lets start baking!!

			</p>
		</div>
		<br>
		<div class="box">
			<h3>Canvas Painting</h3>
			<p>Painting boosts memory recollection skills and works to sharpen the mind through conceptual visualization and implementation. People
				who frequently use creative outlets such as painting and drawing have less chance of developing memory loss illness when they get
				older! Canvas is a durable woven fabric made out of cotton or linen along with PVC. It is amongst one of the most popular support
				medium for paintings. This can be one of the best ways to display your inner talents. Join us and let your inner artist out!

			</p>
		</div>
		<br>
		<div class="box">
			<h3>Dance</h3>
			<p>Do you think you can dance?! Dance is a lifestyle!Not only is this a good form of workout, it helps with unleashing creativity
				and building confidence. More importantly, it alleviates stress. Hip-Hop dancing style is evolved from the American street
				dance and music. This is one of the popular dance genres amongst the present generations! This may seem intimidating to you in the
				beginning, but give our classes a try! You will not regret it!
			</p>
		</div>
		<br>
		<div class="box">
			<h3>Music</h3>
			<p>
				Music is just a way to modulate and express emotion and is an instant mood lifter! Playing an instrument like the guitar is on the bucket list
				for a lot of people. Research has proven time and again that learning to play an instrument stimulates the brain,enhances verbal
				memory and abstract reasoning skills. In other words, learning to play an instrument, makes you smarter. You get a chance to
				release your inner rock star instead of pretending to play for crowds! Come and join us!

			</p>
		</div>

  {% endblock content %}
</html>
