<!doctype html>
<html lang="en">

{% block content %}
<head>
    <h4 style="font-family: cursive; color: maroon; font-size: large">Welcome To My Personal Space </h4>
</head>
    <body>
    <div>
        <p style="font-family: cursive; font-weight: normal; font-size:medium; color: black">
            Thanks for subscribing to our newsletter. Please find our class schedules in the attachments.
            We look forward to meeting you soon !
        </p>
    </div>
    </body>
{% endblock content %}
</html>